{% block header %}
    <!-- HEADER -->
    <header>

        <!-- header wrapper -->
        <div class="wrapper cf">
            <div id="logo">
                <a href="/" ><img src="{{ asset( "bundles/acmeezblog/img/logo.png" ) }}" alt="" /></a>
            </div>
        </div><!-- ENDS header wrapper -->

        {% block nav %}
        {{ render_esi( controller( 'AcmeEzBlogBundle:Default:navbar' ) ) }}
        {% endblock %}

    </header>
    <!-- ENDS HEADER -->
{% endblock %}
