<!-- nav -->
<nav class="cf">
    <div class="wrapper cf">
        <ul id="nav" class="sf-menu">
            <li class="current-menu-item"><a href="{{ path( 'ez_urlalias', {'locationId': homeLocationId} ) }}">BLOG<i><b></b></i></a></li>
            <li><a href="{{ path( 'ez_urlalias', {'locationId': contactLocationId} ) }}">CONTACT<i><b></b></i></a></li>
        </ul>
        <div id="combo-holder"></div>
    </div>
</nav>
<!-- ends nav -->
