{% extends "@AcmeEzBlog/pagelayout.html.twig" %}

{% block content %}
    <!-- posts list -->
    <div id="posts-list" class="cf">

    {% for post in posts.locations %}
        {{ render_esi( controller( 'ez_content:viewLocation', {'locationId': post.id, 'viewType': 'line'} ) ) }}
    {% endfor %}

        <!-- page-navigation -->
        <div class="page-navigation cf">
            <div class="nav-next"><a href="#">Older Entries</a></div>
            <div class="nav-previous"><a href="#">Newer Entries</a></div>
        </div>
        <!--ENDS page-navigation -->


    </div>
    <!-- ENDS posts list -->
{% endblock %}
